* {
  margin:0;
}

a {
  text-decoration: none;
  color:rgb(86, 86, 86);
}

.App {
  text-align: center;
  background-color:#a1a0a0;
  color:#000007;
  font-family:Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:4vh;
}

.list{
  padding:4rem;
  text-align:left;
  font-size: 1.7rem;
  width:90vw;
  height:67vh;
}

.listItem
{
  display:flex;
  justify-content: flex-end;
  margin:2rem;
}

.listItem_
{
  margin-left:2vw;
}