* {
  margin:0;
}

a {
  text-decoration: none;
  color: rgb(0, 255, 191);
}

.button {
  background: transparent;
  border: 4px solid #171212;
  font-size:1rem;
  cursor: pointer;
  height:5vh;
  transition: all 0.1s ease-in;
}

.button:hover {
  background: #171212;
  color: #ffffff;
}

.App {
  padding: 2rem;
  background: linear-gradient(#0f6dfa, #620157);
  color: #171212;
}

.list{
  padding:4rem;
  text-align:left;
  font-size: 1.7rem;
  width:90vw;
}

.listItem
{
  display:flex;
  justify-content: flex-start;
  margin:2rem;
}

.listItem_
{
  margin-left:2vw;
  overflow:hidden;
}

input{
  margin:2rem;
  font-size:6vh;
  background:linear-gradient(aqua, orange);
  border:1px solid #f00;
}